*{
  box-sizing: border-box;
}

html {
  height: fill-available;
  height: -webkit-fill-available;
}

body{
  margin:0;
  min-height: 100vh;
  min-height: fill-available;
  min-height: -webkit-fill-available;
  background-color: #F5F7FB;
  color: #293264;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;

}

#root{
  margin: auto;
  padding: 3em;
  background-color: #FFFAD1;
  border-radius: 10px;
}

h1, h3{
  text-align: center;
}


.react-tabs__tab-list{
  list-style-type: none;
  display: flex;
  gap: 0.5em;
  flex-direction: column;
}

.react-tabs__tab{
  flex: 1 1 0px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-weight: 700;
  margin-inline: 2em;
  margin-left: 0;
  cursor: pointer;
  border: solid 4px #B98389;
  border-radius: 50px;
  padding: 5px 10px;
}

.react-tabs__tab:focus{
  outline: none;
  box-shadow: 0 0 0 5px #DEEBF8;box-shadow: 3px;
}

.react-tabs__tab--selected{
  border: solid 4px #c09ca0;
  color: #F5F7FB;
  background: #c09ca0;
}

.react-tabs__tab-panel{
  background-color: #DEEBF8;
}

.question--text{
  text-align: center;
  font-size: 30px;
}

.question--counter{
  text-align: center;
}

@media screen and (min-width: 320px) {
  .question--text {
    font-size: calc(40px + 6 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 640px) {
  .react-tabs__tab-list{
    flex-direction: row;
  }
}

@media screen and (min-width: 1000px) {
  .question--text {
    font-size: 50px;
  }
}